.idea/
.vs/

Src/Application/bin/
Src/Application/obj/
Src/Domain/bin/
Src/Domain/obj/
Src/Endpoints/bin/
Src/Endpoints/obj/
Src/Infrastructure/bin/
Src/Infrastructure/obj/
Src/Persistances/bin/
Src/Persistances/obj/

Test/Application.Test/bin/
Test/Application.Test/obj/
Test/Domains.Test/bin/
Test/Domains.Test/obj/
Test/EndPoint.Test/bin/
Test/Endpoint.Test/obj/
Test/Infrastructure.Test/bin/
Test/Infrastructure.Test/obj/
Test/Persistance.Test/bin/
Test/Persistance.Test/obj/